*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main{
    height: 100vh;
 }

.header{
    height: 165px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 21px;
}

.nav{
    height: 110px;
    width: 100%;
    padding: 4px 30px;
}

.nav-container{
    height: 102px;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 90px;
    width: 150px;
    top: 10px;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
}

.location img{
    height: 30px;
    width: 30px;
}

.pin{
    border-bottom: dotted black;
}

.search{
    height: 102px;
    width: 950px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-logo{
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    background-color: rgb(241, 240, 240);
    border-radius: 10% 0% 0% 10%;
}

/*
.search-logo img{
    height: 18px;
    width: 18px;
}*/

.search-logo svg{
    height: 22px;
    width: 22px;
    stroke: #666;
}

.search-bar{
    width: 830px;
    height: 45px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 240, 240);
}

.search-bar input{
    border: none;
    height: 25px;
    width: 798px;
    font-size: 16px;
    outline: none;
    background-color: rgb(241, 240, 240);
}

.camera{
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 240, 240);
    border-radius: 0% 10% 10% 0%;
}

.store{
    height: 102px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
}

.store img{
    height: 25px;
    width: 25px;
}

.gallery-container{
    height: 102px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px;

}

.gallery-container img{
    height: 30px;
    width: 40px;
}

.categories-container{
    height: 102px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

.categories{
    padding-right: 8px;
}

.blank{
    height: 102px;
    width: 60px;
}

.signin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in{
    height: 45px;
    width: 100px;
    font-size: 18px;
    background-color: #ffdb15;
    border: none;
    border-radius: 10%;
}


.drop-options{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(205, 205, 205);
}

.drop-containers{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    padding-right: 8px;
    padding-left: 50px;
}

.main-page{
    display: flex;
    flex-direction: column;
}

.tiles{
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    top:180px;
}

.lg-tiles{
    height: 575px;
    width: 1220px;
    padding: 0px 10px;
}

.lg-tiles img{
    height: 575px;
    width: 1200px;
    border-radius: 0.5rem;
}

.md-tiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 302.5px;
    padding: 0px 10px;
    gap: 10px;
}

.md-tiles img{
    height: 282.5px;
    border-radius: 0.5rem;
}

.popular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    gap: 15px;
}

.lg{
    font-size: 40px;
    font-weight: 550;
}

.sm{
    font-size: 20px;
}

.photo-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25px;
    gap: 12px;
    padding-bottom: 30px;
}

.text{
    text-align: center;
    color: #333;
    font-size: 20px;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photos div{
    flex: 1 0 15%;
    max-width: 15%;
    overflow: hidden;
}

.photo-gallery img {
    height: 200px;
    width: 200px;
    border-radius: 1rem;
    display: block;
}

.contact{
    height: 80px;
    width: 196px;
    position: fixed;
    bottom: 50px;
    z-index: 1;
    background-color: #fff;
    padding: 5px; 
    border-radius: 0.3rem;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    padding: 8px;
}

.buy p{
    font-size: 22px;
}

.buy .mobile {
    font-size: 26px;
    color: #1c77c3;
}

.str{
    height: 136px;
    width: 68px;
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store-icon{
    height: 68px;
    width: 60px;
    padding: 4px 0px;
    background-color: #ffdb15;
    
}

.store-icon img{
    height: 50px;
    width: 50px;
}

.whats{
    height: 68px;
    width: 60px;
    padding 4px 0px;
}

.whats img{
    height: 60px;
    width: 60px;
}